# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with the same extension, e.g. *.js, *.ts
[*.{js,ts}]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false
